*{
    background: #666;
    margin: 0;
}

.first_button{
    margin-top: 50vh;
    display: flex;
}
button{
    background-color: black;
    color: #fff;
    font-size: 20px;
    padding: 20px 40px;
    border: 3px solid #fff;
    margin: auto;
}
